lab1/src/main/agh/cs/lab1/*.class
lab1/src/main/agh/cs/lab2/*.class
lab1/out/test/lab1/agh/cs/lab2/*.class
lab1/out/production/lab1/agh/cs/lab1/Direction.class
lab1/out/production/lab1/agh/cs/lab2/*.class